.div_class_All{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.div_class_calculator{
    text-align: center;
    margin-left: 360px;
    padding-top: 15px;
    width: 640px;
    height: auto;
    /* overflow: hidden; */
    border: #fff 1px solid;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}
.div_class_showdatabar input{
    width: 600px;
    height: 40px;
    line-height: 24px;
    margin: 10px auto;
    text-align: right;
    font-size: 24px;
    font-weight:bold;
}
/*标准科学选择*/
.div_class_choosetype{
    text-align: left;
    margin-left: 20px;
}
.div_class_choosetype span{
    color:#555;
    font-size: 20px;
    padding: 0 2px;
    cursor: pointer;
}
.div_class_choosetype .active{
    color:orangered;
}
.div_class_buttonlist{
    width: 600px;
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    align-content: flex-start;
}

.div_class_button{
    box-sizing: border-box;
    flex: 0 0 19%;
    height: 68px;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 5px;
    cursor: pointer;
}
/*等号*/
.div_class_button:nth-last-child(1),.div_class_button:nth-last-child(2){
    flex: 0 0 40%;
}
/*展开收缩按钮*/
.div_class_button:nth-last-child(1){
    font-size: 45px;
    font-weight: bold;
    background: orangered;
    color: #fff;
    margin-left: 100px;
}


/*历史记录面板*/
.div_class_historybox{
    margin: 15px 0;
    width: 470px;
    height: 680px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    opacity: 0.8;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    box-shadow:0px 5px 5px #90A4AE;
    transition: 0.8s;
}
.div_class_historybox_fold{
    margin: 15px 0;
    width: 35px;
    overflow: hidden;
    height: 680px;
    opacity: 0.8;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    box-shadow:0px 5px 5px #90A4AE;
    transition: 0.6s;
}
/*展开折叠按钮*/
.div_class_historybox>p,.div_class_historybox_fold>p{
    width: 20px;
    height: 680px;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 8px;
    color:#071A52;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow:-2px 4px 5px #90A4AE;
}
/*面板内容页*/
.div_class_historydetail{
    margin: 0 auto;
    display: flex;
    min-height: 680px;
    flex-direction: column;
}
.div_class_historydetail>span{
    font-size: 24px;
    color:#071A52;
    border-bottom: 2px solid #071A52;
}
/*内容页的中间部分*/
.div_class_historydetail div{
    font-size: 20px;
    margin:15px 0; 
    overflow-y: auto;
    flex: 1;
}
/*时间*/
.div_class_historydetail div>i{
    margin-right:240px;
    font-size: 16px;
    font-style: normal;
    padding: 2px 8px;
    background: #FF5C5C;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.div_class_historydetail div p{
    font-size: 20px;
    margin-top: 8px;
}

/*按钮*/
.btn{
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 2px;
    color:#fff;
    background: #FF5C5C;
    cursor: pointer;
    /*color:#4286F5;
    color:#4285F4;
    color:#A8C8FE;*/
}


